body {
    background-color: #3d2c2eff;
    color: #3d2c2eff;
    font-family: 'Annie Use Your Telescope', cursive;
}

h1 {
    font-family: 'Alice', serif; 
}

/*

$rich-black-fog-29: #0d1821ff;
$pine-green: #157a6eff;
$dark-sea-green: #77b28cff;
$antique-white: #ffeeddff;
$old-burgundy: #3d2c2eff;

font-family: 'Alice', serif;   --typewriter-looking
font-family: 'Annie Use Your Telescope', cursive; ---cheeky error messages
font-family: 'Eczar', serif;
font-family: 'Edu SA Beginner', cursive; --okay, reasonably cute
font-family: 'Handlee', cursive; --okay, more handwrite-y
font-family: 'Kalam', cursive; --good, actually
font-family: 'Permanent Marker', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'Zen Antique Soft', serif;


*/
a {
    color:#ffeeddff;
}

.offcanvas {
    background-color: #157a6eff;
    color: #ffeeddff;
}

.page {
    background-color: #ffeeddff;
    border: 1px solid #77b28cff;
    height:95vh;
}

.btn-primary {
    color: #fff;
    background-color:#77B28C;
    border-color: #77B28C;
}

.btn-primary:hover {
    background-color: #157a6eff;
    border-color: #157a6eff;
    box-shadow: 0 0 0 0.25rem rgb(21 122 110 / 50%);
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color:#157a6eff;
  border-color: #157a6eff;
  box-shadow: 0 0 0 0.25rem rgb(21 122 110 / 50%);
}
.entry-title:hover {
    color: #0d1821ff;
    text-emphasis: bold;
    text-decoration: underline;
}

.row {
    padding: 20px;
}

.login-card {
    border-color: #157a6eff;
    background-color: #ffeeddff;
}