<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musical Journal</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/6.3.0/react-router-dom.development.js" integrity="sha512-IDZI9FEwnFQh2PmbbpvC4+pIEMeMwnlsh5y4a56hkK+jv8jDnXsjjcRTaZBSj+iqY0+Kc00FdVoFmn0+jeNIzw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/6.4.0-pre.2/react-router.development.js" integrity="sha512-9jD/5U9M4DWMwN3mIxB2JkKrFJ1OiIEBWwHHaSLO7s0ukjI+ihH+q7FehgZG7ixIAEn5yrdyTPs0PtrUp6tm7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

    
</head>
<body>
    <div id="root"></div>
    <script type="text/jsx" src="/static/app.jsx"></script>
</body>
</html>